<%= form_for(@song) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

<!-- list all artists -->
<!--   <select name="song[artist]">
    <%# Artist.all.each do |a| %>
    <option name="<%#= a.id %>"> <%#= a.name %> </option>
    <%# end %>
  </select>
 -->

  <% artists_array = Artist.all.collect { |a| [a.name] } %>
  <%= select_tag "song[artist]", options_for_select(artists_array) %>

 <%#= f.select :artist %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
